<body class>
   
        <div class="container-fluid container">
            <h1 style="color: grey;">K</h1><h1 style="color: orange;">O</h1> <h1 style="color: grey;">RE</h1>
            <div class="container-fluid cont3">
                <img src="../../assets/images/archi.jpg"  class="img-fluid container1 ">

            </div>
            <div>
                <h1 style ="color:orange">Innovative</h1>
                <p style ="color:black">Something innovative is new and original. If you love to experiment and find new ways to do things, you are an innovative person. </p>
            </div>
            <button name="b" class="but"(click)="clickme()">CLICK-ME</button>
        </div>
  
</body>
