<body>
    <form>
        <div class="container-fluid container">
            <h1 style="color: grey;">K</h1><h1 style="color: orange;">O</h1> <h1 style="color: grey;">RE</h1>
            <div class="container-fluid cont3">
                <img src="../../assets/images/jcb.jpg" class=" img-fluid container1">
            </div>
            <div >
                <h1 style ="color:orange">Agile</h1>
                <p style ="color:black">Agile is an iterative approach to project management and software development that helps teams deliver value to their customers faster and with fewer headaches</p>
            </div>
            <button name="b" class="but"(click)="clickme()">CLICK-ME</button>
            
        </div>
    </form>
</body>
